@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --background: 0 0% 98%;
  --foreground: 0 0% 6%;
  --card: 0 0% 100%;
  --card-foreground: 0 0% 8%;
  --border: 0 0% 86%;
  --muted: 0 0% 96%;
  --muted-foreground: 0 0% 45%;
}

.dark{
  --background: 0 0% 6%;
  --foreground: 0 0% 96%;
  --card: 0 0% 7%;
  --card-foreground: 0 0% 96%;
  --border: 0 0% 18%;
  --muted: 0 0% 10%;
  --muted-foreground: 0 0% 70%;
}

*{ @apply border-border; }
html{ scroll-behavior: smooth; }
body{ @apply bg-background text-foreground antialiased; }

::selection{ background: rgba(255,255,255,.14); color: inherit; }

.noise{
  background-image: radial-gradient(transparent 1px, rgba(0,0,0,.02) 1px);
  background-size: 3px 3px;
}

.text-balance{ text-wrap: balance; }
